html
{
    margin: 1rem;       /* Shorthand property */
    font-size: 62.5%    /* Recalcula o tamanho base o rem para 10px. (16px -> 100%, 10px -> 62.5%) */
}

body
{
    background-color: #f5eee6;
}

table
{
    border: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    width: 100%;
    table-layout: fixed; /* Torna a tabela responsiva. A largura da célula respeita a largura (width) da tabela. O algoritmo distribui o tamanho proporcionalmente entre as colunas. Se não há uma largura cofigurada, a largura de cada coluna será de acordo com a linha mais larga. */
}

table tr, td, th { border-collapse: collapse; }

table tr
{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.45rem;
}

table th, td
{
    font-size: 1.15rem;
    padding: 0.75rem;
    text-align: center;
}

table th
{
    font-size: 1.15rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

table caption
{
    font-size: 2.5rem;
    margin: 0.5rem 0 1.75rem;
}